
    
  <div class = "cars-for-sale">
    <mat-card class = "car-list">
      <mat-card-title>Cars for sale</mat-card-title>
      <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor = "let car of cars"
          [class.selected] = "car === selectedCar"
          (click) = "onSelect(car)">
          <button mat-button>{{car.make}}   {{car.model}}</button>  
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    </mat-card>



    <div class = "details">
      <mat-card>
        <mat-card-content>
        <h2><span *ngIf="selectedCar">{{ selectedCar.make}}  {{ selectedCar.model}} </span>Details</h2>
        <div *ngIf="selectedCar"><span>id: </span>{{selectedCar.id}}</div>
        <div *ngIf="selectedCar">
            <p>name: {{selectedCar.make}} {{selectedCar.model}}</p>
            <p>year: {{selectedCar.year}}</p>
            <p>miles: {{selectedCar.miles}}</p>
            <p>price: ${{selectedCar.price}}</p>
            <button mat-raised-button color="primary">
    
              Buy Now
            </button>
          
        </div>
      </mat-card-content>
      </mat-card>
      
    </div>
  </div>