#sell-container {
  display: flex;
  flex-wrap:wrap;

}

.sell-card{
  max-width:500px;
  min-width:300px;
  flex:1;
}


.sell-form > * {
  width: 100%;

}


.sell-instructions{
  flex:1;
}


  

.instructiosn-list {
  list-style-type:disc outside none;
}