
  <div id = "landing-header">
    <div id = "hero-text">
      <p class = "hero-text">Best Deals in Town!</p>
    </div>
  </div>
  <div class = "container" fxLayout = "row">
      <mat-card id = "leading-text" class = "full-width center-text">
          <strong  class = "body-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan egestas mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut faucibus imperdiet metus, at mollis sapien tincidunt consectetur. Vivamus ut sapien at velit luctus fringilla aliquet id eros. Vivamus sit amet dolor et lectus posuere molestie.  Proin accumsan egestas mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </strong>
      </mat-card>
  </div>
  <div id = "action-bar" class = "container" fxLayout = "row" fxLayout.xs="column wrap">
    <div fxFlex = "33%" fxFlex.xs = "100%">
        <mat-card class = "center-text">
          <mat-icon class = "action-bar-icon" color= "primary" >home</mat-icon>
          <h2>Familiar</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan egestas mollis.</p>
        </mat-card>
    </div>
    <div fxFlex = "34%">
        <mat-card class = "center-text">
            <mat-icon class = "action-bar-icon" color= "primary">build</mat-icon>
            <h2>Trustworthy</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan egestas mollis.</p>
        </mat-card>
    </div>
    <div fxFlex = "33%">
        <mat-card  class = "center-text">
            <mat-icon class = "action-bar-icon" color= "primary">commute</mat-icon>
            <h2>Innovative</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan egestas mollis.</p>
        </mat-card>
    </div>
  </div>

